Column Transformer

In [2]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_covid']), df['has_covid'], test_size=0.2, random_state=42)

In [8]:
X_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

In [9]:
from sklearn.compose import ColumnTransformer

In [10]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [11]:
transformer.fit_transform(X_train).shape

(80, 7)

In [12]:
transformer.transform(X_test).shape

(20, 7)

Car Speed Dataset

In [14]:
df = pd.read_csv('Car_Speed_Data.csv')
df.head()

   Age  Gender  Speed Average_speed     City has_driving_license
0   54    male   40.0           low  Kolkata                 yes
1   34  female   70.0           low    Delhi                 yes
2   19  female  140.0          high   Delhi                   no
3   45    male  120.0          high  Kolkata                 yes
4   23   male    80.0           low   Mumbai                  no

In [15]:
df.isnull().sum()

Age                    0
Gender                 0
Speed                  9
Average_speed          0
City                   0
has_driving_license    0
dtype: int64

In [18]:
df.nunique()

Age                    35
Gender                  4
Speed                  13
Average_speed           2
City                    5
has_driving_license     2
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['has_driving_license']), df['has_driving_license'], test_size=0.2, random_state=42)

In [33]:
X_train.shape

(80, 5)

In [32]:
X_test.shape

(20, 5)

In [40]:
from sklearn.compose import ColumnTransformer

In [41]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['Speed']),
    ('tnf2', OrdinalEncoder(categories=[['low', 'high']]), ['Average_speed']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['Gender', 'City'])
], remainder='passthrough')

In [47]:
t1=transformer.fit_transform(X_train).shape
t2=transformer.transform(X_test).shape
print(t1)
print(t2)

(80, 10)
(20, 10)

In [45]:
transformer.fit_transform(X_train)

array([[170.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  21.        ],
       [150.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  46.        ],
       [130.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  47.        ],
       [140.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  46.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  21.        ],
       [120.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  47.        ],
       [ 90.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  32.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  29.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [120.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [ 95.35211268,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  45.        ],
       [130.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  28.        ],
       [150.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  27.        ],
       [ 95.35211268,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  49.        ],
       [ 60.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  62.        ],
       [ 50.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  32.        ],
       [170.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  37.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  42.        ],
       [130.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  48.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  62.        ],
       [ 95.35211268,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  35.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  21.        ],
       [ 40.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  52.        ],
       [130.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [ 90.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  28.        ],
       [100.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  35.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  45.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  24.        ],
       [ 90.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  28.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  45.        ],
       [120.        ,   1.        ,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  33.        ],
       [120.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  29.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  42.        ],
       [140.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  24.        ],
       [130.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  17.        ],
       [180.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  28.        ],
       [ 50.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  36.        ],
       [ 90.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  45.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  39.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  20.        ],
       [140.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  51.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  42.        ],
       [120.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  39.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  45.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  19.        ],
       [ 95.35211268,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  56.        ],
       [140.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  61.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  40.        ],
       [ 95.35211268,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  39.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  31.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  52.        ],
       [150.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  32.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  42.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  23.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  27.        ],
       [ 95.35211268,   1.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  23.        ],
       [170.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  27.        ],
       [ 40.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  32.        ],
       [ 95.35211268,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  29.        ],
       [ 50.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  46.        ],
       [ 95.35211268,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  42.        ],
       [ 40.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  36.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  34.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  29.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  28.        ],
       [140.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ,
          0.        ,  19.        ],
       [ 80.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  56.        ],
       [120.        ,   1.        ,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  47.        ],
       [170.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  36.        ],
       [ 80.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  35.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  34.        ],
       [170.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  51.        ],
       [ 95.35211268,   1.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  24.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  25.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  43.        ],
       [ 70.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  37.        ],
       [ 60.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  37.        ],
       [ 70.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  23.        ]])

In [46]:
transformer.transform(X_test)

array([[ 70.,   0.,   0.,   0.,   0.,   1.,   0.,   0.,   0.,  39.],
       [ 80.,   0.,   1.,   0.,   0.,   0.,   0.,   1.,   0.,  42.],
       [ 60.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,  34.],
       [ 60.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,   0.,  24.],
       [ 40.,   0.,   1.,   0.,   0.,   1.,   0.,   0.,   0.,  57.],
       [150.,   1.,   0.,   1.,   0.,   0.,   0.,   0.,   0.,  26.],
       [ 50.,   0.,   1.,   0.,   0.,   0.,   0.,   1.,   0.,  34.],
       [ 40.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  49.],
       [ 80.,   0.,   0.,   0.,   0.,   1.,   0.,   0.,   0.,  35.],
       [ 40.,   0.,   1.,   0.,   0.,   0.,   0.,   1.,   0.,  54.],
       [ 50.,   0.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,  28.],
       [ 50.,   0.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,  41.],
       [150.,   1.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,  27.],
       [ 50.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,  35.],
       [120.,   1.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,  24.],
       [ 80.,   0.,   0.,   1.,   0.,   0.,   0.,   0.,   1.,  23.],
       [ 50.,   0.,   1.,   0.,   0.,   1.,   0.,   0.,   0.,  42.],
       [130.,   1.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,  36.],
       [170.,   1.,   1.,   0.,   0.,   0.,   0.,   1.,   0.,  61.],
       [180.,   1.,   1.,   0.,   0.,   1.,   0.,   0.,   0.,  49.]])